* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  z-index: 1000;
}

h1 {
  font-size: 1.5rem;
  color: #333;
}

nav {
  display: flex;
  gap: 50px;
}

nav a {
  text-decoration: none;
  color: #767676;
  font-size: 1.1rem;
  font-weight: 400;
  transition: color 0.3s;
}

nav a.active {
  color: #000;
  font-weight: 500;
}

nav a:hover {
  color: black;
}

.button {
  background-color: #04ddb2;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 500;
}

main {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  position: relative;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; 
  justify-content: center;
  align-items: center;
}

section.active {
  display: flex; 
}
